# Ignore Jupyter notebook checkpoint files
.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore .DS_Store files (for macOS)
.DS_Store

# Ignore other typical files or directories
*.log
*.env
